*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	text-decoration: none;
	list-style: none;
}
body{

	width: 100%;
	background: #121212;
	font-family: 'Roboto', sans-serif;
	height: 605vh;
		
	
}

nav{
	
	width: 100%;
	background: #034447;
	padding-top: 5px;
	padding-bottom: 5px; 
	position: fixed;
	position: -webkit-sticky;
	top: 0;
	text-align: center;
	height: 50px;
}

nav a.home{
	color: #fff;
	float: right;
	padding-right: 10px;
	background: #fff;
	color: #000;
	padding: 5px 15px;
	margin-right:  10px;
	margin-top: 10px;


}

nav h1.name{
	font-size: 15px;
	color: #fff;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

.main{
	padding-top: 10px;
	padding-left: 10px;
	color: #fff;
	font-size: 30px;
	left: 50%;
	top: 45%;
}

.gradient{
	background: -webkit-linear-gradient(#ED008C,#F6D327);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
}

.lopez{
	background: -webkit-linear-gradient(#ED008C,#F6D327);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   padding-left: 100px; 
}

.logo{
	
	max-width: 250px;
	padding-left: 10px;
	display: block;
}

.title{
	display: block;
	color: #fff;
	left: 50%;
	font-size:40px;
	padding-top: 80px;
	padding-left: 10px; 	
}

.r{
	
	color: #fff;
	padding-left: 10px;
	font-size: 35px;
	 	
}

.line{
	width: 300px;
	height: 5px;
	border-radius: 5px;
	margin-left: 12px;
	margin-top: 5px;
    background-color: #F67062;
	background-image: linear-gradient(315deg, #F67062 0%, #FC5296 74%);
}

.line2{
	width: 325px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
    background-color: #F67062;
	background-image: linear-gradient(235deg, #01BAEF 0%,#20BF55 74%);
	margin-left: 25px;
	margin-top: 20px; 
}

.line3{
	width: 325px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
    background-color: #F67062;
	background-image: linear-gradient(215deg, #09C6F9 0%,#B621FE 74%);
	margin-left: 25px;
	margin-top: 20px; 
}



.landing{
	margin-left: 19px;	
	margin-top: 20px;
	background-color: #034447;
	width: 90%;
	height: 350px;
    text-align: center;
}

.para{
	
	color: #fff;
	font-size: 15px;
	font-family: 'Roboto Mono', monospace;
}

.img{
	
	max-width: 150px;
	padding-left: 100px;
	width: 100%;
	padding-top: 30px;
	
}

.text{
	
	max-width: 150px;
	padding-left: 100px;
	width: 100%;
	
}

.spotify {
			
	width: 95%;
	max-width:500px;
	height: 70vh;
	padding-top: 10px;
	padding-bottom: 10px;
	

}

.spotify-text{
	
	color: #fff;
	font-size: 45px;
	padding-left: 15px;
	padding-top: 5px;
}

.spotify-div{
	
	width: 350px;
	height: 500px;
	background: #000;
	text-align: center;
	margin-left: 13.5px;
	margin-top: 20px;
}

.c1{
	color: #fff;
	font-size: 24px;
	padding-left: 10px;
	padding-top: 5px;
	font-family: 'Roboto Mono', monospace;
}

.c-text{
	color: #fff;
	padding-top: 15px;
	padding-left: 10px;

}

.box{
	
	background: #000;
	width: 100%;
	max-width: 340px;
	margin-left: 17.5px;
	margin-top: 45px; 
	height: 235px;
	transition: 0.5s ease-in-out;
}

.box2{
	
	background: #000;
	width: 100%;
	max-width: 340px;
	margin-left: 17.5px;
	margin-top: 20px; 
	height: 220px;
	transition: 0.5s ease-in-out;
}


.box3{
	
	background: #000;
	width: 100%;
	max-width: 340px;
	margin-left: 17.5px;
	margin-top: 20px; 
	height: 270px;
	transition: 0.5s ease-in-out;
}


.box4{
	
	background: #000;
	width: 100%;
	max-width: 340px;
	margin-left: 17.5px;
	margin-top: 20px; 
	height: 300px;
	transition: 0.5s ease-in-out;
}

.box5{
	
	background: #000;
	width: 100%;
	max-width: 340px;
	margin-left: 17.5px;
	margin-top: 20px; 
	height: 300px;
	transition: 0.5s ease-in-out;
}

.box6{
	
	background: #000;
	width: 100%;
	max-width: 340px;
	margin-left: 17.5px;
	margin-top: 20px; 
	height: 240px;
	transition: 0.5s ease-in-out;
}

.content{
	background: #000;
	width: 95%;
	height: 100%;
	overflow-y: hidden;
}



.bar{
	
	width: 85%;
	height: 20px;
	background: -webkit-linear-gradient(#09C6F9, #045DE9);
	border-radius: 10px;
	
}

.bar-2{
	
	width: 25%;
	height: 20px;
	background: -webkit-linear-gradient(#09C6F9, #045DE9);
	border-radius: 10px;

	
}

.bar-3{
	
	width: 70%;
	height: 20px;
	background: -webkit-linear-gradient(#09C6F9, #045DE9);
	border-radius: 10px;

}

.bar-4{
	
	width: 45%;
	height: 20px;
	background: -webkit-linear-gradient(#09C6F9, #045DE9);
	border-radius: 10px;

}

.bar-5{
	
	width: 100%;
	height: 20px;
	background: -webkit-linear-gradient(#09C6F9, #045DE9);
	border-radius: 10px;

}

.bar-6{
	
	width: 10%;
	height: 20px;
	background: -webkit-linear-gradient(#09C6F9, #045DE9);
	border-radius: 10px;

}

.bar2{
	
	background: #121212;
	border-radius: 10px;
	width: 90%;
	height: 20px;
	margin-left: 10px;
}

.bar3{
	
	background: #121212;
	border-radius: 10px;
	width: 90%;
	height: 20px;
	margin-left: 10px;
}

.bar3{
	
	background: #121212;
	border-radius: 10px;
	width: 90%;
	height: 20px;
	margin-left: 10px;
	margin-top: 40px;
}

.bar4{
	
	background: #121212;
	border-radius: 10px;
	width: 90%;
	height: 20px;
	margin-left: 10px;
	margin-top: 20px;
}

.bar5{
	
	background: #121212;
	border-radius: 10px;
	width: 90%;
	height: 20px;
	margin-left: 10px;
	margin-top: 15px;
}

.bar6{
	
	background: #121212;
	border-radius: 10px;
	width: 90%;
	height: 20px;
	margin-left: 10px;
	margin-top: 25px;
}

.bar7{
	
	background: #121212;
	border-radius: 10px;
	width: 90%;
	height: 20px;
	margin-left: 10px;
	margin-top: 25px;
}

.project-box2{
	
	background: linear-gradient(45deg, #e91e63, #ffeb3b);
	width: 100%;
	max-width: 300px;
	height: 350px;
	box-shadow: 0px 0px 20px #000;
	margin-left: 38px;
	margin-top: 50px;	
	
}

.project-box{
	
	background: linear-gradient(45deg, #20BF55, #01BAEF);
	width: 100%;
	max-width: 300px;
	height: 350px;
	box-shadow: 0px 0px 20px #000;
	margin-left: 38px;
	margin-top: 50px;	
}

.project-box3{
	
	background: linear-gradient(45deg, #3503ad, #f7308c);
	width: 100%;
	max-width: 300px;
	height: 350px;
	box-shadow: 0px 0px 20px #000;
	margin-left: 38px;
	margin-top: 50px;	
}



.hand{
	
	max-width: 100px;
	width: 100%;
	padding-left: 100px;
	padding-top: 70px;
}

.Gallery{
	position: absolute;
	text-decoration: none;
	color: #fff;
	padding: 7px 20px;
	border: 1px solid #fff;
	text-transform: uppercase;
	border-radius: 8px;
	top: 458%;
	left: 35%;
}

.Gallery1{
	position: absolute;
	text-decoration: none;
	color: #fff;
	padding: 7px 20px;
	border: 1px solid #fff;
	text-transform: uppercase;
	border-radius: 8px;
	top: 508%;
	left: 35%;
}

.Gallery2{
	position: absolute;
	text-decoration: none;
	color: #fff;
	padding: 7px 20px;
	border: 1px solid #fff;
	text-transform: uppercase;
	border-radius: 8px;
	top: 557%;
	left: 35%;
}

.container{
	display: flex;
	height: 8vh;
	width: 100%;
	margin-top: 50px;
	align-items: center;
	justify-content: center;
	background: #121212;
	text-align: center;
}

.container ul{
	display: flex;
}

.container ul li{
	position: relative;
	display: block;
	color: #666;
	font-size:25px;
	height: 55px;
	width: 70px;
	background: #171515;
	line-height: 60px;
	border-radius: 50%;
	margin: 0 15px;
	cursor: pointer;
}
